{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="red" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-trash bigger-150"></i>&nbsp;&nbsp;
    </a>
{% endif %}